:root{
    --color-primary:#1a1a1a;
    --color-accent: #0066cc;
    --color-text:#333333;
    --color-bg:#f9f9f9;
    --color-bg-card:#ffffff;
    --color-border:#e0e0e0;

    --radius: 8px;
    --shadow-sm: 0 2px 5px rgba(0,0,0,0.05);
    --shadow-md: 0 8px 20px rgba(0,0,0,0.15);

    --font-principal: system-ui, sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: var(--font-principal);
    background-color: var(--color-bg);
    color:var(--color-text);

}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: var(--color-bg-card);
    border-bottom: 1px solid var(--color-border);
}

.enlaces a{
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
    margin-left: 20px;
    transition: all 0.3s ease;   
}
.enlaces a:hover{
    color:var(--color-accent);
}

.contenedor{
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    margin-bottom: 30px;
    color:var(--color-primary)
}
.grid-tarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;

}

.card{
    background-color: var(--color-bg-card);
    border: 1px solid var(--color-border);
    padding: 30px;
    text-align: center;
    box-shadow:var(--shadow-sm);
    transition: all 0.3s ease;
    border-radius: var(--radius);
}

.card:hover{
    box-shadow: var(--shadow-md);
    transform: translateY(-5px);
}

.btn{
    background-color: var(--color-primary);
    color: white;
    border:none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: var(--radius);
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: var(--color-accent);
}